#loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #5C42FF;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    transform: translate(-50%, -50%);
    z-index: 9999;
	}
  
  #loader-text {
    color: white;
    margin-top: 20px;
    font-family: Montserrat, sans-serif;
  	font-size: 1.3em;
    padding-top: 10px;
    font-weight: medium;
  }
  
  #content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9998;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
	}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
	}
  
  .menu-parent {
  	mix-blend-mode: difference;
  }

  .button {
   display: flex;
   color: black;
   background-color: #f0f0f0;
   font-family: Montserrat;
   font-size: 0.95em;
   font-weight: 400;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .button:hover {
   color: white;
   background-color: #7977ff;
	}

  .button:focus {
   color: white;
   background-color: #7977ff;
	}
