
  .logo-home {
    mix-blend-mode: difference;
    position: relative;
  }

  .brand-checkbox-label {
    font-weight: 450;
  }

  .brand-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    border: 0.5px solid #ffffff;
    border-radius: 4px;
    margin-right: 10px;
    background: transparent;
  }

  .brand-checkbox:checked {
    background-color: #7977ff;
    border-color: #7977ff;
  }

  .holiday-button {
   display: flex;
   color: white;
   background-color: rgba(255, 255, 255, 0.2);;
   font-family: Montserrat;
   font-size: 0.9em;
   font-weight: 400;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
   box-shadow: inset -3px -3px 10px rgba(0, 0, 0, 0.02);
  }

  .who-button {
   display: flex;
   color: white;
   background-color: rgba(255, 255, 255, 0.2);
   font-family: Montserrat;
   font-size: 0.9em;
   font-weight: 400;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
   box-shadow: inset -3px -3px 10px rgba(0, 0, 0, 0.05);
  }

  .gender-button {
   display: flex;
   color: white;
   background-color: rgba(255, 255, 255, 0.2);
   font-family: Montserrat;
   font-size: 0.9em;
   font-weight: 400;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
   box-shadow: inset -3px -3px 10px rgba(0, 0, 0, 0.05);
  }
  
  .holiday-button:hover {
    color: white;
    background-image: linear-gradient(40deg, #5A75FF, #7D5CFF, #49A8FF);
   }

  .holiday-button:focus {
    color: white;
    background-image: linear-gradient(40deg, #5A75FF, #7D5CFF, #49A8FF);
   }

  .who-button:hover {
    color: white;
    background-image: linear-gradient(40deg, #A157FF, #6F63FF, #E065FF);
   }

  .who-button:focus {
    color: white;
    background-image: linear-gradient(40deg, #A157FF, #6F63FF, #E065FF);
   }

  .gender-button:hover {
    color: white;
    background-image: linear-gradient(40deg, #7D68FF, #9E62FF, #6A8BFF);
   }

  .gender-button:focus {
    color: white;
    background-image: linear-gradient(40deg, #7D68FF, #9E62FF, #6A8BFF);
   }

  .category-button {
    display: flex;
    color: white;
    background: linear-gradient(30deg, #9D6CFF, #5C8BFF, #FF73FA);
    font-family: Montserrat;
    font-size: 0.85em;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: auto;
    padding: 5 20px;
  }

  .category-button:hover {
    color: #ffffff;
    background: linear-gradient(30deg, #742eff, #2461fb, #ff1cf7);
   }

   .category-button:focus {
     color: #ffffff;
     background: linear-gradient(30deg, #742eff, #2461fb, #ff1cf7);
   }

   .sub-category-button {
    display: flex;
    color: #333;
    font-family: Montserrat;
    font-size: 0.8em;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border-width: 1px;
    width: auto;
    padding: 5 20px;
  }

  .sub-category-button:hover {
    color: #ffffff;
    background-color: #c4c3c3;
   }

   .sub-category-button:focus {
     color: #ffffff;
     background-color: #c4c3c3;
   }

  .disablegrid {
    pointer-events: none;
    opacity: 0.5;
   }

  .disableGrid:hover {
    transform: scale(1.0);
  }

  .half-opacity {
    opacity: 0.5;
  }

  .full-opacity {
    opacity: 1;
  }

  #filters-container {
    transition: transform 0.5s ease;
    transform: translateX(100%);
  }

  #filters-container.show {
    transform: translateX(0);
  }

  .button-selected {
    border: none;
    color: white;
    background-color: #7977ff;
  }

  .who-selected {
    border: none;
    color: #4b00ff;
    background-color: #f0f0f0;
  }

  .category-grid::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .category-grid {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
  }

  .holiday-card {
    ::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  #current-holiday {
    /* Hide scrollbar for Chrome, Safari and Opera */
    ::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  #holiday-container {
    overflow-x: scroll;
    white-space: nowrap;
    height: 400px;
  }

  /* for screens smaller or equal to 568px and larger than 320px */
  @media screen and (max-width: 568px) {
    #holiday-container {
      height: 350px;
    }
    .category-button {
      display: flex;
      color: white;
      background: linear-gradient(30deg, #9D6CFF, #5C8BFF, #FF73FA);
      font-family: Montserrat;
      font-size: 0.7em;
      font-weight: 400;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      width: auto;
      padding: 2 15px;
    }  
  }


  /* for screens smaller or equal to 320px */
  @media screen and (max-width: 320px) {
    #holiday-container {
      height: 300px;
    }
  }
