#loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #5C42FF;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    transform: translate(-50%, -50%);
    z-index: 9999;
	}
  
  #loader-text {
    color: white;
    margin-top: 20px;
    font-family: Montserrat, sans-serif;
  	font-size: 1.3em;
    padding-top: 10px;
    font-weight: medium;
  }
  
  #content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9998;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
	}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
	}
  
  .menu-parent {
  	mix-blend-mode: difference;
  }
  
  .button:hover {
  background-color: #5754ff;
  color: white;
	}

  .button:focus {
  background-color: #5754ff;
  color: white;
	}

 .button:blur {
  background-color: #f0f0f0;
  color: black;
	}
